<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Łączy nas sport</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/admin/home">Home</a></li>
                <li><a href="/event/list/">Wydarzenia</a></li>
                <li><a href="/places/list/">Miejsca</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile/edit/"><span class="glyphicon glyphicon-user"></span>Zmień hasło</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>

<a th:fragment="detail" th:href="@{../{id}/(id=${row.eventId})}"/><span class="butonik">Zobacz</span></a></a>

</body>
</html>