<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css"/>-->
<!--    <script type="text/javascript" src="js/bootstrap.js"></script>-->
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Łączy nas sport</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile/edit/"><span class="glyphicon glyphicon-user"></span>Zmień hasło</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>