<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista eventów</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
</head>
<body>
<nav th:replace="fragments/topnav :: navbar">
</nav>

&nbsp;
<div class="container">
    <a class="btn btn-md btn-warning btn-block" type="button" th:href="@{../create/}">Stwórz event</a>

    <th:block th:each="row :${events}">
        <div class="form-signin">
        <!--/*@thymesVar id="row" type="com.gpch.login.dto.Event."*/-->
            <div class="row">
                <label>Opis: </label><label th:text="${row.description}" class="form-control read"></label>
                <label>Data startu: </label><label th:text="${row.startDate}" class="form-control"></label>
                <label>Czas trwania: </label><label th:text="${row.endDate}" class="form-control"></label>
                <label>Aktualna liczba uczestników: </label><label th:text="${row.currentUserNo + '/' + row.maxUsersAmount}" class="form-control"></label>
            </div>
            <div class="row flat">
                <div class="col-md-3"><a th:href="@{../{id}/(id=${row.eventId})}"/><span class="butonik">Zobacz</span></a></div>
                <div class="col-md-3"><a th:href="@{/join/}"/><span class="butonik">Dołącz</span></a></div>
            </div>
        </div>
    </th:block>
</div>

</body>
</html>