<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt</title>
    <link rel="stylesheet" href="css/pwi/style.css">
    <!--	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css"/>
    <script type="text/javascript" src="js/jquery-3.4.1.slim.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color:dimgray">
    <h1 style="color: white; font-family: Brush Script MT; margin-right: 2vw;">KW</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-target" aria-controls="collapse-target"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse-target">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/karolwrobel95/pwi-project">SourceCode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#someshit">Kittens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://karolwrobel95.github.io/facebook-login/">FB Login</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <section id="home">
        <h1 style="margin-top: 25vh;margin-bottom: 2vh;">Strona na zaliczenie programowania w internecie</h1>
        <a href="#about" class="btn-who">Karol ?</a>
    </section>
    <section id="someshit">
        <h1 style="padding-top: 2vh">Badass kittens</h1>
        <div class="row cards">
            <div class="card">
                <img class="card-img-top" src="css/pwi/cat.jpg" alt="Card image" style="max-width:400px">
                <div class="card-body">
                    <h4 class="card-title">Sniper kitten</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                    </p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="css/pwi/cat2.jpg" alt="Card image" style="max-width:400px">
                <div class="card-body">
                    <h4 class="card-title">Get out of my property kittens</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                    </p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="css/pwi/cat3.jpg" alt="Card image" style="max-width:400px">
                <div class="card-body">
                    <h4 class="card-title">Cool story kitten</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                    </p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi alias rerum laboriosam, dolorem,
            illum deserunt nulla eos facere laudantium aut.
        </div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, nihil.</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi alias rerum laboriosam, dolorem,
            illum deserunt nulla eos facere laudantium aut.
        </div>
    </section>
    <section id="about">
        <h1>About</h1>
        <h3>Karol Wróbel</h3>
        <img src="css/pwi/Myphoto.jpg" alt="">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi alias rerum laboriosam, dolorem,
            illum deserunt nulla eos facere laudantium aut.
        </div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, nihil.</div>
    </section>
</main>
<footer>
    <p>Designed by Karol Wróbel</p>
</footer>
</body>
</html>		